:root {
    --background: rgb(48, 14, 60);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    color: white;
}

header {

}

main {
    padding: 20px;
}

section {
    margin: 0 auto;
    width: max-content;
    text-align: center;

    display: grid;
}

textarea {
    width: 250px;
    height: 100px;
    resize: vertical;
}

#question-section {
    height: 120px;
}

#input-section label {
    padding: 20px 0;
}

button {
    padding: 20px 0;
    margin: 20px 0;
}

#crystal-ball {
    font-size: 15em;
    grid-row: 2;
    grid-column: 1;
}

#answer-display {
    grid-row: 2;
    grid-column: 1;
    margin-top: 100px;
    color: white;
    text-shadow: 3px 3px 4px black;
    font-size: 1.25em;
    z-index: 100;
}

.hidden {
    display: none;
}

footer {

}
