:root {
    --background: rgb(48, 14, 60);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    color: white;
}

header {

}

main {
    padding: 20px;
}

section {
    margin: 0 auto;
    width: max-content;
    text-align: center;

    display: grid;
}

section * {
    margin: 12px;
}

textarea {
    width: 250px;
    height: 100px;
    resize: vertical;
}

#question-section {
    height: 200px;
}

#crystal-ball {
    font-size: 15em;
    margin: -30px 0;
    grid-row: 2;
    grid-column: 1;
}

.hidden {
    display: none;
}

footer {

}
